In [1]:
import pandas as pd
import glob

In [2]:
fifa_files = ["players_16.csv","players_17.csv","players_18.csv", "players_19.csv"]

In [3]:
def clean(file):
    
    #read csv
    df = pd.read_csv(file)
    
    #pick variables for dataframe 
    
    df = df[["sofifa_id"
                        ,"short_name"
                        ,"age"
                        ,"height_cm"
                        ,"weight_kg"
                        ,"nationality"
                        ,"club"
                        ,"overall"
                        ,"value_eur"
                        ,"wage_eur"
                        ,"preferred_foot"
                        ,"real_face"
                        ,"player_positions"
                        ,"team_jersey_number"
                        ,"pace"
                        ,"shooting"
                        ,"passing"
                        ,"dribbling"
                        ,"defending"
                        ,"physic"
                        ,"attacking_heading_accuracy"
                        ,"skill_fk_accuracy"
                        ,"skill_ball_control"
                        ,"movement_acceleration"
                        ,"movement_sprint_speed"]]
    
    
     #renamed the variables
     
    df = df.rename(columns={"sofifa_id": "id"
                        ,"short_name" : "name"
                        ,"age": "age"
                        ,"height_cm" : "height"
                        ,"weight_kg" : "weight"
                        ,"nationality" : "nationality" 
                        ,"club" : "club"
                        ,"overall" : "rating"
                        ,"value_eur" : "value_M"
                        ,"wage_eur" : "wage_K"
                        ,"preferred_foot" : "preferred_foot"
                        ,"real_face" : "real_face"
                        ,"player_positions" : "position"
                        ,"team_jersey_number" : "jersey_number"
                        ,"pace" : "pace"
                        ,"shooting" : "shooting"
                        ,"passing" : "passing"
                        ,"dribbling" : "dribbling"
                        ,"defending" : "defending"
                        ,"physic" : "physic"
                        ,"attacking_heading_accuracy" : "heading"
                        ,"skill_fk_accuracy" : "free_kick"
                        ,"skill_ball_control" : "ball_control"
                        ,"movement_acceleration" : "acceleration"
                        ,"movement_sprint_speed" : "speed"})
                                
    
    # transform value into millions
    df["value_M"] = df["value_M"]/1000000
    
    
    #transform wage into thousands
    df["wage_K"] = df["wage_K"]/1000
    

    
    
    #regex the digits to extract 
    df["free_kick"] = df.free_kick.str.extract((r'(\d+)'), expand=True).astype(int)
    df["heading"] = df.heading.str.extract((r'(\d+)'), expand=True).astype(int)
    df["ball_control"] = df.ball_control.str.extract((r'(\d+)'), expand=True).astype(int)
    df["acceleration"] = df.acceleration.str.extract((r'(\d+)'), expand=True).astype(int)
    df["speed"] = df.speed.str.extract((r'(\d+)'), expand=True).astype(int)
    
    #get dummies for real face and concat to dataframe
    df = pd.concat([df, pd.get_dummies(df["real_face"], prefix="real_face", drop_first=True)], axis=1 )
    
    #get dummies for preferred_foot
    df = pd.concat([df, pd.get_dummies(df["preferred_foot"], prefix="preferred_foot", drop_first=True)], axis=1 )
    
    
    #extract position

    df["position"] = df.position.str.extract((r'(\w+)'), expand=True)
    
    # rename positions
    
    df["position"] = df["position"].replace({  "CF" : "ST",
                                               "CDM": "CM",
                                               "CAM": "CM",
                                               "LWB": "LM",
                                               "LW" : "LM",
                                               "RWB": "RM",
                                               "RW" : "RM"})
    
    return df

In [4]:
clean("players_16.csv")

,id,name,age,height,weight,nationality,club,rating,value_M,wage_K,...,dribbling,defending,physic,heading,free_kick,ball_control,acceleration,speed,real_face_Yes,preferred_foot_Right
0,158023,L. Messi,28,170,72,Argentina,FC Barcelona,94,111.00,550.0,...,95.0,24.0,62.0,71,90,96,95,90,1,0
1,20801,Cristiano Ronaldo,30,185,80,Portugal,Real Madrid,93,85.50,475.0,...,91.0,33.0,78.0,86,77,91,91,93,1,1
2,9014,A. Robben,31,180,80,Netherlands,FC Bayern München,90,56.00,250.0,...,92.0,32.0,64.0,51,83,90,92,92,1,0
3,167495,M. Neuer,29,193,92,Germany,FC Bayern München,90,58.00,250.0,...,NaN,NaN,NaN,25,11,31,58,61,1,1
4,176580,L. Suárez,28,182,85,Uruguay,FC Barcelona,90,69.00,300.0,...,87.0,42.0,79.0,77,84,91,88,78,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14876,224867,R. Horne,19,180,76,England,Cambridge United,44,0.06,1.0,...,47.0,39.0,52.0,39,41,42,67,60,0,1
14877,229852,C. Shephard,17,173,69,Wales,Newport County,44,0.05,1.0,...,49.0,32.0,46.0,35,37,43,68,70,0,1
14878,227910,L. Gooch,17,181,65,England,Luton Town,44,0.04,1.0,...,NaN,NaN,NaN,14,17,23,42,41,0,1
14879,225339,S. Warburton,18,171,64,England,Northampton Town,44,0.03,1.0,...,45.0,43.0,45.0,39,28,35,62,55,0,0
14880,11728,B. Richardson,45,185,77,England,Wycombe Wanderers,44,0.01,1.0,...,NaN,NaN,NaN,12,11,22,25,25,0,1

In [5]:
df = pd.read_csv("players_17.csv")

In [ ]:




#i = 16
#
#for filename in all_files:
#    frame = clean(filename)
#    frame.to_pickle(filename.pkl)
#    
    
for i in fifa_files:
    frame = clean(i)
    csvpath = "cleaned_" + i
    frame.to_csv(csvpath, encoding='utf-8-sig')
    
    
#cleaned_fifa20 = clean20("players_20.csv")
#cleaned_fifa20.to_pickle("cleaned_fifa20.pkl")
    
    
#for i in fifa_files:
#    frame = clean(i)
#    csvpath = "cleaned_" + i
#

In [ ]:
def clean20(file):
    
    #read csv
    df = pd.read_csv(file)
    
    #pick variables for dataframe 
    
    df = df[["sofifa_id"
                        ,"short_name"
                        ,"age"
                        ,"height_cm"
                        ,"weight_kg"
                        ,"nationality"
                        ,"club"
                        ,"overall"
                        ,"value_eur"
                        ,"wage_eur"
                        ,"preferred_foot"
                        ,"real_face"
                        ,"player_positions"
                        ,"team_jersey_number"
                        ,"pace"
                        ,"shooting"
                        ,"passing"
                        ,"dribbling"
                        ,"defending"
                        ,"physic"
                        ,"attacking_heading_accuracy"
                        ,"skill_fk_accuracy"
                        ,"skill_ball_control"
                        ,"movement_acceleration"
                        ,"movement_sprint_speed"]]
    
    
     #renamed the variables
     
    df = df.rename(columns={"sofifa_id": "id"
                        ,"short_name" : "name"
                        ,"age": "age"
                        ,"height_cm" : "height"
                        ,"weight_kg" : "weight"
                        ,"nationality" : "nationality" 
                        ,"club" : "club"
                        ,"overall" : "rating"
                        ,"value_eur" : "value_M"
                        ,"wage_eur" : "wage_K"
                        ,"preferred_foot" : "preferred_foot"
                        ,"real_face" : "real_face"
                        ,"player_positions" : "position"
                        ,"team_jersey_number" : "jersey_number"
                        ,"pace" : "pace"
                        ,"shooting" : "shooting"
                        ,"passing" : "passing"
                        ,"dribbling" : "dribbling"
                        ,"defending" : "defending"
                        ,"physic" : "physic"
                        ,"attacking_heading_accuracy" : "heading"
                        ,"skill_fk_accuracy" : "free_kick"
                        ,"skill_ball_control" : "ball_control"
                        ,"movement_acceleration" : "acceleration"
                        ,"movement_sprint_speed" : "speed"})
                                
    
    # transform value into millions
    df["value_M"] = df["value_M"]/1000000
    
    
    #transform wage into thousands
    df["wage_K"] = df["wage_K"]/1000
    
    #get dummies for real face and concat to dataframe
    df = pd.concat([df, pd.get_dummies(df["real_face"], prefix="real_face", drop_first=True)], axis=1 )
    
    #get dummies for preferred_foot
    df = pd.concat([df, pd.get_dummies(df["preferred_foot"], prefix="preferred_foot", drop_first=True)], axis=1 )
    
    
    #extract position

    df["position"] = df.position.str.extract((r'(\w+)'), expand=True)
    
    # rename positions
    
    df["position"] = df["position"].replace({  "CF" : "ST",
                                               "CDM": "CM",
                                               "CAM": "CM",
                                               "LWB": "LM",
                                               "LW" : "LM",
                                               "RWB": "RM",
                                               "RW" : "RM"})
    
    return df

In [ ]:
cleaned_fifa20 = clean20("players_20.csv")
cleaned_fifa20.to_pickle("cleaned_fifa20.pkl")