In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
f20 = pd.read_pickle("cleaned_fifa20.pkl")
f19 = pd.read_csv("cleaned_players_19.csv")
f18 = pd.read_csv("cleaned_players_18.csv")
f17 = pd.read_csv("cleaned_players_17.csv")
f16 = pd.read_csv("cleaned_players_16.csv")

In [3]:
f20.shape

(18278, 27)

In [12]:
f20.to_csv('f20.csv')

In [4]:
f19.shape

(17770, 28)

In [5]:
f18.shape

(17592, 28)

In [6]:
f17.shape

(17009, 28)

In [7]:
f16.shape

(14881, 28)

In [8]:
f20.columns

Index(['id', 'name', 'age', 'height', 'weight', 'nationality', 'club',
       'rating', 'value_M', 'wage_K', 'preferred_foot', 'real_face',
       'position', 'jersey_number', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'heading', 'free_kick', 'ball_control',
       'acceleration', 'speed', 'real_face_Yes', 'preferred_foot_Right'],
      dtype='object')

In [9]:
hu = f16.drop(columns="Unnamed: 0")

In [10]:
hu

,id,name,age,height,weight,nationality,club,rating,value_M,wage_K,...,dribbling,defending,physic,heading,free_kick,ball_control,acceleration,speed,real_face_Yes,preferred_foot_Right
0,158023,L. Messi,28,170,72,Argentina,FC Barcelona,94,111.00,550.0,...,95.0,24.0,62.0,71,90,96,95,90,1,0
1,20801,Cristiano Ronaldo,30,185,80,Portugal,Real Madrid,93,85.50,475.0,...,91.0,33.0,78.0,86,77,91,91,93,1,1
2,9014,A. Robben,31,180,80,Netherlands,FC Bayern München,90,56.00,250.0,...,92.0,32.0,64.0,51,83,90,92,92,1,0
3,167495,M. Neuer,29,193,92,Germany,FC Bayern München,90,58.00,250.0,...,NaN,NaN,NaN,25,11,31,58,61,1,1
4,176580,L. Suárez,28,182,85,Uruguay,FC Barcelona,90,69.00,300.0,...,87.0,42.0,79.0,77,84,91,88,78,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14876,224867,R. Horne,19,180,76,England,Cambridge United,44,0.06,1.0,...,47.0,39.0,52.0,39,41,42,67,60,0,1
14877,229852,C. Shephard,17,173,69,Wales,Newport County,44,0.05,1.0,...,49.0,32.0,46.0,35,37,43,68,70,0,1
14878,227910,L. Gooch,17,181,65,England,Luton Town,44,0.04,1.0,...,NaN,NaN,NaN,14,17,23,42,41,0,1
14879,225339,S. Warburton,18,171,64,England,Northampton Town,44,0.03,1.0,...,45.0,43.0,45.0,39,28,35,62,55,0,0
14880,11728,B. Richardson,45,185,77,England,Wycombe Wanderers,44,0.01,1.0,...,NaN,NaN,NaN,12,11,22,25,25,0,1

In [11]:
g = sns.lineplot(data=hu, x='age', y='value_M', data=hu).set_title('hi')
plt.show()

SyntaxError: keyword argument repeated (<ipython-input-11-ec03833645d8>, line 1)

In [ ]:
nationality = hu.groupby(['nationality', 'club'])

In [ ]:
nationality

In [ ]:
# plot
sns.set_style('ticks')
fig, ax = plt.subplots()
# the size of A4 paper
ffig.set_size_inches(11.7, 8.27)
sns.scatterplot(x='age', y='value_M')

In [ ]:
# plot
#sns.set_style('ticks')
#fig, ax = plt.subplots()
# the size of A4 paper
fig.set_size_inches(11.7, 8.27)
sns.scatterplot(data=hu, x='rating', y='value_M')

In [ ]:
sns.dogplot()